.agent{
    padding: 58px 0px 75px 0px;
    min-height: 342px;
    background: url('../img/bg/bg-agent.jpg') center center/cover no-repeat;
    text-align: center;
    .subtitle{
        color: #ffffff;
        margin-top: 10px;
    }
    .title{
        margin-top: 10px;
        color: #ffffff;
    }
}
