.features{
    padding: 58px 0px 51px 0px;
    min-height: 590px;
    background-color: #f3f3f3;
    &__block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        &_img{
            margin-right: 26px;
        }
        &_descr{
        width: 343px;
        }
        &_par{
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
        }
        &_head{
            color: #ec644b;
            font-size: 16px;
            font-weight: 700;
        }
    }
}