.feedback{
    padding: 51px 0px 65px 0px;
    min-height: 470px;
    &__slider{
        position: relative;
        width: 600px;
        text-align: center;
        margin: 0 auto;
        .slick-slide{
            &:focus{
                outline:none;
            }
        }
        img{
            display: block;
            margin: 0 auto;
        }
        &_block{
            opacity: 0.5;
            &_active{
                opacity: 1;
            }
        }
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background-color: #ffffff;
        border: none;
        img{
            width: 14px;
            height: 47px;
        }
        &:focus{
            outline:none;
        }
    }
    .slick-next{
        right: -66px;
        left: auto;
    }
}