.header{
    display: flex;
    justify-content: space-between;
    &__logo{
        width: 93px;
        line-height: 100px;
        img{
            width: 100%;
        }
    }
    &__menu{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        line-height: 100px;
        &_item{
            &:nth-child(6){
                border: none;
                margin: 0;
            }
        }
        a{
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
            margin-right: 30px;
            margin-top: 10px;
            &:hover{
                transition: all 1s;
                color: #ec644b;
                text-decoration: underline;
            }
        }
    }
    &__info{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &_phone{
            display: flex;
            height: 100px;
            align-items: center;
            a{
                color: #ffffff;
                font-size: 19px;
                font-weight: 700;
                line-height: 24px;
            }
        }
        &_button{
            margin-left: 18px;
            display: flex;
            align-items: center;
            height: 100px;
        }
        .btn{
            width: 160px;
            height: 45px;
        }
    }
}