.managers{
    min-height: 342px;
    background: url(../img/bg/managers.jpg) center center/cover no-repeat;
    text-align: center;
    padding: 58px 0px 0px 0px;
    .subtitle{
        color: white;
    }
    .title{
        margin-top: 10px;
        color: #ffffff;
    }
}