.prices{
    padding: 53px 0px 58px 0px;
    &__blocks{
        display: flex;
        justify-content: space-between;
    }
    &__block{
        width: 265px;
        min-height: 355px;
        border: 1px solid #e9e9e9;
        padding: 1px 0px 25px 0px;
        &_head{
            width: 261px;
            height: 61px;
            margin: 0 auto;
            background-color: #25333c;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &_content{
            text-align: center;
            img{
                margin: 13px 0;
            }
            h3{
                color: #2e2e2e;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                span{
                    display: block;
                    color: #ec644b;
                    font-size: 28px;
                }
            }
            p{
                height: 53px;
                color: #2e2e2e;
                font-size: 14px;
                font-weight: 300;
            }
            .btn{
                width: 160px;
                height: 45px;
                margin-top: 15px;
            }
        }
    }
}