.scheme{
    padding: 51px 0px 46px 0px;
    min-height: 454px;
    background-color: #f3f3f3;
    &__blocks{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &_too{
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__block{
        text-align: center;
        width: 259px;
        margin-top: 20px;
        &_head{
            color: #ec644b;
            font-size: 16px;
            font-weight: 700;
        }
        &_par{
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
        }
    }
}