.decision{
    padding: 79px 0px 61px 0px;
    min-height: 889px;
    background: url(../img/bg/bg-decision.jpg) center center/cover no-repeat;
    &__slider{
        text-align: center;
        margin: 0 auto;
        .slick-slide{
            &:focus{
                outline:none;
            }
        }
        img{
            display: block;
            margin: 0 auto;
            margin-top: 32px;
        }
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        background: none;
        border: none;
        img{
            width: 18px;
            height: 60px;
        }
        &:focus{
            outline:none;
        }
    }
    .slick-next{
        right: 0px;
        left: auto;
    }
    .slick-dots{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            width: 25px;
            height: 25px;
            border: none;
            background-color: #fff;
            border: 2px solid black;
            border-radius: 100%;
            margin: 20px 15px 0 15px;
            &:focus{
                outline: none;
            }
        }
    }
}